body { padding-left: 100px;
    padding-right: 100px;
padding-top: 10px;
padding-bottom: 10px;
}



.card {
    width: 30%;
    float: left; 
    padding: 10px;
    box-sizing: border-box;
border-radius: 10px;
}


.card{ border-radius: 10px;
    width: 30%;
    float: left;
    padding: 10px;
    margin-left: 20px;
    box-sizing: border-box;
}

.card{ border-radius: 10px;

    width: 30%;
    
float: right;
padding: 10px;
box-sizing: border-box;


}